@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
/* ===== reset ===== */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.main {
  font-family: 'Roboto', sans-serif; }

.imagen-stats {
  padding: 30px; }

.img-dos {
  padding: 10px; }

header {
  width: 100%; }
  header .header_container {
    width: 100%;
    height: 4rem;
    margin: 0 auto; }
  header nav ul li {
    transition: 1s; }
  header nav ul li :hover {
    transform: scale(0.7);
    transition: 1s; }
  header .header_logo {
    width: 50%; }
  header .header_img {
    width: 50%; }

.main {
  display: flex;
  background-color: #d6d6d6;
  padding: 1.5rem;
  background-image: url("../img/4335.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #111;
  color: #d6d6d6; }
  .main .main_container {
    margin: 0 auto; }
  .main h1 {
    text-align: center; }
  .main h2 {
    text-align: center; }
  .main .img-lledx {
    display: flex;
    justify-content: center; }
  .main .video-lledx {
    display: flex;
    justify-content: center; }
  @media screen and (min-width: 600px) {
    .main {
      display: block;
      padding: 0.7rem;
      align-items: center; } }

.main-historia {
  display: flex;
  background-image: url(../img/5454.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #d6d6d6;
  background-color: #111;
  color: #d6d6d6; }

.main-formulario {
  display: flex;
  background-image: url(../img/6565.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #d6d6d6;
  background-color: #111;
  color: #d6d6d6; }

.formulario {
  height: 600px; }

.formulario_id {
  display: flex;
  justify-content: center; }

.titulo-formulario {
  padding: 30px; }

.parrafo-contacto {
  padding: 30px; }

.main-redes {
  display: flex;
  height: 850px;
  padding: 30px;
  background-image: url(../img/vecty.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #d6d6d6;
  background-color: #111;
  color: #d6d6d6; }

.main-stats {
  display: flex;
  background-image: url(../img/130.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #d6d6d6;
  background-color: #111;
  color: #d6d6d6; }

.stats {
  display: grid;
  justify-content: center;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto; }
  @media (min-width: 768px) {
    .stats .stats {
      display: flex; } }

.logo-redes-ig {
  padding: 30px; }

.logo-redes-yt {
  padding: 30px; }

.logo-redes-sc {
  padding: 30px; }

.stats img {
  width: 100%; }

.footer {
  display: flex;
  justify-content: center; }
