/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*estilos de body*/
body{
    background-color: rgb(245, 245, 245);
    
}
/*estilos de header*/
header{
    display: none;
}

    
 /*estilos de main*/
    
 main { 
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    padding: 1.5rem;
    background-image:url("../img/3434.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
main h1{
    text-align: center;
    animation-name: animacion-uno;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

main h2{
    text-align: center;
}

main p{
    text-align: center;
}



@keyframes animacion-uno {
   0%{
            transform: matrix(0.5);
            
        }

        100%{
            transform: ma(1.2);
            
        }
}




/*estilo de imagen pagina main*/
.img-lledx{
    display: flex;
    justify-content: center;
}

/*estilo de video-lledx*/
.video-lledx{
    display: flex;
    justify-content: center;
}

/* pantallas de tablet */
@media screen and (min-width:600px){


    /* estilos de header */
    header{
        display: block;
        padding: 0.7rem;
        align-items: center;
    }

}

/* estilos de pantallas de escritorio */

@media screen and (min-width:1024px){
    
    /*estilos del menu*/
    header nav ul li{
        transition: 1s;
    }

    header nav ul li:hover{
        transform: scale(0.7);
        transition: 1s;
    }
    
    /* estilos de main */
   
      main  h2{
        text-align:start ;
    }

    main p{
        text-align: start;
    }

    /*estilos de imagen del logo*/
    .imagen-logo{
        display: flex;
        justify-content: start;
    }
    /*estilos de main stats y grid*/
    
    .stats{
    
        display: grid;
        justify-content: center;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto auto;
        
    }
  .h2-stats{
   
    animation-name: animacion-dos;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
    
   .h2-dos{
    animation-name: animacion-dos;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    

  
}
    @keyframes animacion-dos {

   
        0%{
                 transform : scale(0.5);
                 
             }
     
             100%{
                 transform: scale(1.0);
                 
             }
            }
        
        }



 /*estilos de footer*/ 
 footer{
   text-align: center ;
 }

/*estilos de main-formulario*/
.main-formulario{
    background-image: url(../img/trippy2.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;

}

 
 /*estilo de los formularios*/
 .formulario{
    height: 600px;
 }
 /*estilo de titulo del formulario*/

 .titulo-formulario{
    padding: 30px;
 }

 /*estilos de parrafo-contacto*/

.parrafo-contacto{
    padding: 30px;
}
  /*estilos de main-historia*/
  .main-historia{
    background-image: url(../img/trippy3.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
  }

 /*estilos de main-redes*/
 .main-redes{
  height: 600px;
 padding: 30px;
 background-image: url(../img/wtf.jpeg);
 background-repeat:no-repeat;
 background-size: cover;
 background-position: center;
 }

/*estilos de los logos*/

 .logo-redes-ig{
padding: 30px;
 }
 .logo-redes-yt{
    padding: 30px;
     }
 .logo-redes-sc{
        padding: 30px;
         }
/*estilos de main stats y stats*/
.main-stats{  
    background-image: url(../img/trippy5.jpg);
            background-repeat:no-repeat;
            background-size: cover;
            background-position: center;
        }
.stats img{
    width: 100%;
}

/*estilo de imagen-logo*/
.imagen-logo{
    height: 40px;
}

.imagen-logo img{
    height: 100%;
}


