.main{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
    background-image:url("../img/3434.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    color: white;    
.main_container{
    margin: 0 auto;
}
h1{
    text-align: center;

}
h2{
    text-align: center;

}

.img-lledx{
    display: flex;
    justify-content: center;
}

.video-lledx{
    display: flex;
    justify-content: center;
}

    
}


