.main-redes{
display: flex;
height: 850px;
padding: 30px;
background-image: url(../img/vecty.jpg);
background-repeat:no-repeat;
background-size: cover;
background-position: center;
background-color: white;
color: white;
   }