.main-stats{
    display: flex;
    background-image: url(../img/130.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    color: $bg-principal;
    @include color-invertido
}
.stats{
    @include tablet{
        .stats{
            display: flex;
        }
        
    }
    display: grid;
        justify-content: center;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto auto;
}

  
.logo-redes-ig{
    padding: 30px;
}
.logo-redes-yt{
    padding: 30px;
}
.logo-redes-sc{
    padding: 30px;
}
.stats img{
    width: 100%;
}

